{
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=192.168.0.214,1433;Initial Catalog=aspnet-HotelReservationSystem-20170822024208;User ID=sa;Password=YourStrongPassword1;Encrypt=True;TrustServerCertificate=True"
  },
  "AppSettings": {
    "webpages:Version": "3.0.0.0",
    "webpages:Enabled": "false",
    "ClientValidationEnabled": "true",
    "UnobtrusiveJavaScriptEnabled": "true"
  },
  "Glimpse": {
    "defaultRuntimePolicy": "On",
    "endpointBaseUri": "~/Glimpse.axd"
  },
  "EntityFramework": {
    "defaultConnectionFactory": {
      "type": "System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework",
      "parameters": {
        "parameter": "mssqllocaldb"
      }
    },
    "providers": {
      "provider": {
        "invariantName": "System.Data.SqlClient",
        "type": "System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"
      }
    }
  },
  "SystemWeb": {
    "SessionState": {
      "mode": "Off"
    },
    "Authentication": {
      "mode": "None"
    },
    "Compilation": {
      "debug": "true",
      "targetFramework": "4.5.2"
    },
    "HttpRuntime": {
      "targetFramework": "4.5.2"
    },
    "HttpModules": {
      "modules": [
        {
          "name": "Glimpse",
          "type": "Glimpse.AspNet.HttpModule, Glimpse.AspNet"
        },
        {
          "name": "TelemetryCorrelationHttpModule",
          "type": "Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation"
        },
        {
          "name": "ApplicationInsightsWebTracking",
          "type": "Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        }
      ]
    },
    "HttpHandlers": {
      "handlers": [
        {
          "path": "glimpse.axd",
          "verb": "GET",
          "type": "Glimpse.AspNet.HttpHandler, Glimpse.AspNet"
        }
      ]
    }
  },
  "SystemWebServer": {
    "Modules": {
      "modules": [
        {
          "name": "FormsAuthentication",
          "remove": true
        },
        {
          "name": "Glimpse",
          "type": "Glimpse.AspNet.HttpModule, Glimpse.AspNet",
          "preCondition": "integratedMode"
        },
        {
          "name": "TelemetryCorrelationHttpModule",
          "remove": true
        },
        {
          "name": "TelemetryCorrelationHttpModule",
          "type": "Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation",
          "preCondition": "managedHandler"
        },
        {
          "name": "ApplicationInsightsWebTracking",
          "remove": true
        },
        {
          "name": "ApplicationInsightsWebTracking",
          "type": "Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web",
          "preCondition": "managedHandler"
        }
      ]
    },
    "Handlers": {
      "handlers": [
        {
          "name": "Glimpse",
          "path": "glimpse.axd",
          "verb": "GET",
          "type": "Glimpse.AspNet.HttpHandler, Glimpse.AspNet",
          "preCondition": "integratedMode"
        },
        {
          "name": "ExtensionlessUrlHandler-Integrated-4.0",
          "remove": true
        },
        {
          "name": "OPTIONSVerbHandler",
          "remove": true
        },
        {
          "name": "TRACEVerbHandler",
          "remove": true
        },
        {
          "name": "ExtensionlessUrlHandler-Integrated-4.0",
          "path": "*.",
          "verb": "*",
          "type": "System.Web.Handlers.TransferRequestHandler",
          "preCondition": "integratedMode,runtimeVersionv4.0"
        }
      ]
    },
    "Validation": {
      "validateIntegratedModeConfiguration": "false"
    }
  },
  "Runtime": {
    "AssemblyBinding": {
      "dependentAssembly": [
        {
          "assemblyIdentity": {
            "name": "Microsoft.Owin.Security",
            "publicKeyToken": "31bf3856ad364e35"
          },
          "bindingRedirect": {
            "oldVersion": "0.0.0.0-3.0.1.0",
            "newVersion": "3.0.1.0"
          }
        },
        {
          "assemblyIdentity": {
            "name": "Microsoft.Owin.Security.OAuth",
            "publicKeyToken": "31bf3856ad364e35"
          },
          "bindingRedirect": {
            "oldVersion": "0.0.0.0-3.0.1.0",
            "newVersion": "3.0.1.0"
          }
        },
        {
          "assemblyIdentity": {
            "name": "Microsoft.Owin.Security.Cookies",
            "publicKeyToken": "31bf3856ad364e35"
          },
          "bindingRedirect": {
            "oldVersion": "0.0.0.0-3.0.1.0",
            "newVersion": "3.0.1.0"
          }
        },
        {
          "assemblyIdentity": {
            "name": "Microsoft.Owin",
            "publicKeyToken": "31bf3856ad364e35"
          },
          "bindingRedirect": {
            "oldVersion": "0.0.0.0-3.0.1.0",
            "newVersion": "3.0.1.0"
          }
        },
        {
          "assemblyIdentity": {
            "name": "Newtonsoft.Json",
            "culture": "neutral",
            "publicKeyToken": "30ad4fe6b2a6aeed"
          },
          "bindingRedirect": {
            "oldVersion": "0.0.0.0-6.0.0.0",
            "newVersion": "6.0.0.0"
          }
        },
        {
          "assemblyIdentity": {
            "name": "System.Web.Optimization",
            "publicKeyToken": "31bf3856ad364e35"
          },
          "bindingRedirect": {
            "oldVersion": "1.0.0.0-1.1.0.0",
            "newVersion": "1.1.0.0"
          }
        },
        {
          "assemblyIdentity": {
            "name": "WebGrease",
            "publicKeyToken": "31bf3856ad364e35"
          },
          "bindingRedirect": {
            "oldVersion": "0.0.0.0-1.5.2.14234",
            "newVersion": "1.5.2.14234"
          }
        },
        {
          "assemblyIdentity": {
            "name": "System.Web.Helpers",
            "publicKeyToken": "31bf3856ad364e35"
          },
          "bindingRedirect": {
            "oldVersion": "1.0.0.0-3.0.0.0",
            "newVersion": "3.0.0.0"
          }
        },
        {
          "assemblyIdentity": {
            "name": "System.Web.WebPages",
            "publicKeyToken": "31bf3856ad364e35"
          },
          "bindingRedirect": {
            "oldVersion": "1.0.0.0-3.0.0.0",
            "newVersion": "3.0.0.0"
          }
        },
        {
          "assemblyIdentity": {
            "name": "System.Web.Mvc",
            "publicKeyToken": "31bf3856ad364e35"
          },
          "bindingRedirect": {
            "oldVersion": "1.0.0.0-5.2.3.0",
            "newVersion": "5.2.3.0"
          }
        },
        {
          "assemblyIdentity": {
            "name": "System.Buffers",
            "culture": "neutral",
            "publicKeyToken": "cc7b13ffcd2ddd51"
          },
          "bindingRedirect": {
            "oldVersion": "0.0.0.0-4.0.3.0",
            "newVersion": "4.0.3.0"
          }
        },
        {
          "assemblyIdentity": {
            "name": "System.Diagnostics.DiagnosticSource",
            "culture": "neutral",
            "publicKeyToken": "cc7b13ffcd2ddd51"
          },
          "bindingRedirect": {
            "oldVersion": "0.0.0.0-5.0.0.0",
            "newVersion": "5.0.0.0"
          }
        },
        {
          "assemblyIdentity": {
            "name": "System.Runtime.CompilerServices.Unsafe",
            "culture": "neutral",
            "publicKeyToken": "b03f5f7f11d50a3a"
          },
          "bindingRedirect": {
            "oldVersion": "0.0.0.0-5.0.0.0",
            "newVersion": "5.0.0.0"
          }
        }
      ]
    }
  },
  "SystemCodeDom": {
    "Compilers": {
      "compiler": [
        {
          "language": "c#;cs;csharp",
          "extension": ".cs",
          "type": "Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35",
          "warningLevel": "4",
          "compilerOptions": "/langversion:6 /nowarn:1659;1699;1701"
        },
        {
          "language": "vb;vbs;visualbasic;vbscript",
          "extension": ".vb",
          "type": "Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35",
          "warningLevel": "4",
          "compilerOptions": "/langversion:14 /nowarn:41008 /define:_MYTYPE=\"Web\" /optionInfer+"
        }
      ]
    }
  }
}